/target
/.idea/.gitignore
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.idea/codeStyles/codeStyleConfig.xml
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.7/fileHashes/fileHashes.lock
/.idea/football.iml
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/6.7/fileChanges/last-build.bin
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
